---
layout: default
---

<div class="row">
  <!-- Sidebar -->
  <aside class="col-sm-3">
    <nav class="navbar flex-column sticky-top">
      {% for item in site.photography %}
        <a class="nav-link {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>
  </aside>

  <!-- Main content -->
  <main class="col-sm-9">
    <h1>{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    <div class="post-content">
      {{ content }}
    </div>
  </main>
</div>
