--- 
layout: default
---

<div class="post research">
  {% for section in page.sections %}
    <h2 id="{{ section.id }}">{{ section.name }}</h2>
    {% assign items = site.data.research[section.id] %}
    {% for item in items %}
      <div class="research-item">
        <h3>{{ item.title }}</h3>
        <p>{{ item.abstract }}</p>
        <a href="{{ item.link }}">Read more</a>
      </div>
    {% endfor %}
  {% endfor %}
</div>
