--- 
layout: default
---
<div class="post research">
 <!-- Main content -->
    {% for section in page.sections %}
      <a class="anchor" id={{ section.id }}"></a>
      <section id="{{ section.id }}">
        <h2>{{ section.name }}</h2>
        {% assign items = site.data.research[section.id] %}
        {% for item in items %}
          <div class="research-item">
            <h3>{{ item.title }}</h3>
            <p>{{ item.abstract }}</p>
            <a href="{{ item.link }}">Read more</a>
          </div>
        {% endfor %}
      </section>
    {% endfor %}
</div>




